@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding:0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);


}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    
background-color:rgb(0, 0, 0) ;
width: 100%;
}
.container{
width: 1300px;
margin:0 auto;
}
header {
padding: 50px 0;

}
header.logo {
text-transform: uppercase;
font-size: 29px;
font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}
header nav ul {
list-style: none;
display: flex;
justify-content:space-between ;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {color: #fff;}
header nav ul li a:hover {border-radius: 10px solid #DC7500 ;}

.hero {
    padding-bottom: 150px;
}